.container {
  position: relative;
  width: 350px;
  border-radius: 20px;
  margin: 10px;
  background-color: rgba(38, 38, 38, 0.5);
}

.container:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.button {
  color: aliceblue;
  background-color: red;
  border-radius: 50%;
  margin-top: 5px;
  margin-right: 5px;
}

.button:hover {
  transform: scale(1.1);
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
}

.props {
  display: flex;
  justify-content: center;
}

.image {
  width: 70%;
  border-radius: 15%;
}
